<ion-view hide-nav-bar="true" scroll="false" can-swipe-back="false">
	<ion-header-bar class="bar bar-energized">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </button>
    <div class="title" style="color: white">
      Explore
    </div>  
  </ion-header-bar>
  <div class="event-backgroud-card"></div>
  <ion-header-bar class="event-top-bar bar-assertive" style="top: 243px">
    <div class="col">
      <a href="#">All</a>
    </div>
    <div class="col">
      <a href="#">Announcements</a>
    </div>
    <div class="col">
      <a href="#">Events</a>
    </div>
    <div class="col">
      <a href="#"><i style="font-size: 22px" class="icon ion-ios-search"></i></a>
    </div>
  </ion-header-bar>
  <ion-content scroll="true" class="explore-content">
    <div class="list">
        <div class="item item-divider explore-content-list-divider">September
        </div>
        <a class="item event-item" ng-click="exploreCtrl.gotoDetail()" >
          <div class="item-content">
            <div class="row event-desc">
              <div class="date-col">
                <p class="day">Tue</p>
                <p class="date">30</p>
              </div>
              <div class="desc-col">
                <span>
                  Sorbi per tincidunt tellus ist amet ero laoreet
                </span>
              </div>
            </div>
            <div class="row event-info">
              <div class="col col-45"> <i class="icon ion-android-contact event-contact-icon"></i> <span>Mentor Public Library</span> </div>
              <div class="col col-33"> <i class="icon ion-clock"></i> <span>12:59 am - 12:59 pm</span> </div>
              <div class="col col-33"> <i class="icon ion-calendar"></i> <span>Event</span> </div>
            </div>
          </div>
        </a>
        <a class="item announce-item" href="#">
          <div class="item-content">
            <div class="row announce-desc">
              <span>Morbi per tincidunt tellus ist amet ero laoreet</span>
            </div>
            <div class="row announce-info">
              <div class="col col-50"> <i class="icon ion-android-contact annouce-contact-icon"></i> <span>Barrio</span> </div>
              <div class="col col-50"> <i class="icon ion-speakerphone"></i> <span>Announcement</span> </div>
            </div>
          </div>
        </a>
        <div class="item item-divider explore-content-list-divider">October
        </div>
        <a class="item event-item" href="#">
          <div class="item-content">
            <div class="row event-desc">
              <div class="date-col">
                <p class="day">Mon</p>
                <p class="date">30</p>
              </div>
              <div class="desc-col">
                <span>
                  Sorbi per tincidunt tellus ist amet ero laoreet
                </span>
              </div>
            </div>
            <div class="row event-info">
              <div class="col col-45"> <i class="icon ion-android-contact event-contact-icon"></i> <span>Mentor Public Library</span> </div>
              <div class="col col-33"> <i class="icon ion-clock"></i> <span>12:59 am - 12:59 pm</span> </div>
              <div class="col col-33"> <i class="icon ion-calendar"></i> <span>Event</span> </div>
            </div>
          </div>
        </a>
        <a class="item announce-item" href="#">
          <div class="item-content">
            <div class="row announce-desc">
              <span>Morbi per tincidunt tellus ist amet ero laoreet</span>
            </div>
            <div class="row announce-info">
              <div class="col col-50"> <i class="icon ion-android-contact annouce-contact-icon"></i> <span>Barrio</span> </div>
              <div class="col col-50"> <i class="icon ion-speakerphone"></i> <span>Announcement</span> </div>
            </div>
          </div>
        </a>
        <div class="item item-divider explore-content-list-divider">November
        </div>
        <a class="item event-item" href="#">
          <div class="item-content">
            <div class="row event-desc">
              <div class="date-col">
                <p class="day">Thur</p>
                <p class="date">30</p>
              </div>
              <div class="desc-col">
                <span>
                  Sorbi per tincidunt tellus ist amet ero laoreet
                </span>
              </div>
            </div>
            <div class="row event-info">
              <div class="col col-45"> <i class="icon ion-android-contact event-contact-icon"></i> <span>Mentor Public Library</span> </div>
              <div class="col col-33"> <i class="icon ion-clock"></i> <span>12:59 am - 12:59 pm</span> </div>
              <div class="col col-33"> <i class="icon ion-calendar"></i> <span>Event</span> </div>
            </div>
          </div>
        </a>
      <a class="item announce-item" href="#">
          <div class="item-content">
            <div class="row announce-desc">
              <span>Morbi per tincidunt tellus ist amet ero laoreet</span>
            </div>
            <div class="row announce-info">
              <div class="col col-50"> <i class="icon ion-android-contact annouce-contact-icon"></i> <span>Barrio</span> </div>
              <div class="col col-50"> <i class="icon ion-speakerphone"></i> <span>Announcement</span> </div>
            </div>
          </div>
      </a>
      <div class="item item-divider explore-content-list-divider">December
        </div>
        <a class="item event-item" href="#">
          <div class="item-content">
            <div class="row event-desc">
              <div class="date-col">
                <p class="day">Fri</p>
                <p class="date">30</p>
              </div>
              <div class="desc-col">
                <span>
                  Sorbi per tincidunt tellus ist amet ero laoreet
                </span>
              </div>
            </div>
            <div class="row event-info">
              <div class="col col-45"> <i class="icon ion-android-contact event-contact-icon"></i> <span>Mentor Public Library</span> </div>
              <div class="col col-33"> <i class="icon ion-clock"></i> <span>12:59 am - 12:59 pm</span> </div>
              <div class="col col-33"> <i class="icon ion-calendar"></i> <span>Event</span> </div>
            </div>
          </div>
        </a>
        <a class="item announce-item" href="#">
          <div class="item-content">
            <div class="row announce-desc">
              <span>Morbi per tincidunt tellus ist amet ero laoreet</span>
            </div>
            <div class="row announce-info">
              <div class="col col-50"> <i class="icon ion-android-contact annouce-contact-icon"></i> <span>Barrio</span> </div>
              <div class="col col-50"> <i class="icon ion-speakerphone"></i> <span>Announcement</span> </div>
            </div>
          </div>
        </a>
      </div>
  </ion-content>
</ion-view>
